<div class="display-flex flex-row header">
  <div class="logo">Logo</div>
  <div class="profile">
    <a href="/profile">Profile</a>
  </div>
</div>
<div class="display-flex flex-row align-stretch">
    <div class="challeges col-8">
        <!-- make triple brackets to render challenges -->
        {{#each challenges as |challenge|}}
        <div class="challenge">
            <div class="date">6/{{challenge.id}}/22</div>
            <div class="challenge-title">
                <a href="/home/{{challenge.id}}">{{challenge.title}}</a>
            </div>
            <div class="progress">
                {{trialProgress challenge.Trials}}
            </div>
        </div>
        {{/each}}
      </div>


  <div class="daily col-4 py-3">
      <p>Choose a challenge by date
        <br />
        <input type="text" id="datepicker" /></p>
      <button id="datechoice" class="btn btn-primary">Submit</button>


  </div>
</div>
  </div>
<script src="/js/dateSearch.js"></script>