<div>
    <div class="title">
        <div class="login-title">
             Daily Dose of Code
        </div>
    </div>
    <section>
        <div class="row title">
            <div class="col-md-6 login-cards">
                WHATS UP
            </div>
            <div class="col-md-6 login-cards">
            HEYYYYY
            </div>
        </div>
    </section>
    
</div>




