<div class="display-flex flex-row header">
  <div class="logo">{{user.username}}'s Profile</div>
</div>

<div class="profile-container">
  <div class="row">

    <div class="col-4" style="border:1px solid rgb(132, 127, 127);">
      <div class="profile-card">
        <img src="" alt="" />

      </div>
    </div>

    <div
      class="col-4"
      style="border:1px solid rgb(132, 127, 127);"
    >Profile</div>

    <div
      class="col-4"
      style="border:1px solid rgb(132, 127, 127);"
    >Profile</div>

  </div>
</div>