:root {
  --challenge-height: 75px;
  --challenge-inner-height: 74px;
}

/* class selector */

.challenge {
  display: flex;
  height: var(--challenge-height);
  width: auto;
  vertical-align: middle;
}

.date {
  box-sizing: border-box;
  display: flex;
  height: var(--challenge-inner-height);
  width: 15%;
  border: 1px solid black;
  justify-content: center;
}

.challenge-title {
  height: var(--challenge-inner-height);
  width: 65%;
  display: inline-block;
  border: black solid 1px;
}

.progress {
  height: var(--challenge-inner-height);
  width: 20%;
  display: inline-block;
  text-align: center;
  align-items: center;
  border: 1px black solid;
}

.profile {
  margin-left: auto;
  margin-right: 8%;
}

.logo {
  margin-right: auto;
  margin-left: 1%;
}

.header {
  height: 50px;
  border-bottom: 1px black solid;
  margin: 1%;
}

.daily {
  border: 1px solid black;
}

.login-title {
  width: 100%;
  font-family: "Roboto Mono", sans-serif;
  background-color: rgb(155, 55, 206);
  color: rgb(243, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  background-image: url("");
  /* padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px; */
  border-bottom: solid;
  border-top: solid;
  border-color: rgb(215, 212, 212);
  border-width: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.body-bg {
  background-color: rgb(250, 247, 251);
}

.cards-container {
  display: flex;
}

.vertical-row {
  float: left;
  height: 100vh;
  width: 25px;
  background-color: rgb(215, 212, 212);
  border-radius: 5px 5px 5px 5px;
}

.login-cards {
  border-style: solid;
  border-color: rgb(215, 212, 212);
  border-width: 10px;
  border-radius: 4px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
}

.login-btn-color {
  background-color: rgb(99, 173, 242);
}

.signup-btn-color {
  background-color: rgb(20, 174, 69);
}

.profile-container {
  padding-left: 4%;
  padding-right: 4%;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.profile-card {
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-style: solid;
  border-color: aliceblue;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
}

.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  display: block;
}

.profile-username {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.profile-email {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 5px;
}

.profile-streak {
  font-size: 20px;
  font-weight: bold;
}
